.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem
}

button {
    padding: 0.7rem 1.5rem;
    border: 0;
    border-radius: 0.25rem;
    background-color: #000fff;
    color: #ffff;
    font-weight: bold;

}