
.btn {
    display: inline-block;
    padding: 10px 23px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color:white;
    font-weight: bold;
}

.btn[data-active='false'] {
    padding: 10px 19px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: bold;
}